@{
    ViewBag.Title = "Enter Code";
}
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet">
<style>
    body {
        font-family: 'Cairo', sans-serif;
    }
</style>
<!-- Enter Code Section ====================== -->
<section class="section-enter-code pt-60 pt-lg-100 pt-xxl-120 pb-40">
    <div class="container">
        <div class="enter-code-form-wrapper bg-custom-light p-4 p-lg-40 shadow-lg rounded card_code" style="box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);">
            <h4 class="mb-30 mb-lg-40 text-lg-center wow fadeInUp">Enter Code</h4>

            @using (Html.BeginForm("EnterCode", "user", FormMethod.Post, new { id = "enterCodeForm", @class = "enter-code-form row g-30 wow slideInUp" }))
            {
                @Html.AntiForgeryToken()

                <div class="col-md-12 mb-3">
                    <label for="Code" class="form-label">Enter the code sent to your email</label>
                    <input type="text" name="code" class="form-control" id="Code" required />
                    @Html.ValidationMessage("code", "", new { @class = "text-danger" })
                </div>

                <div class="col-12 mt-4 card_code_button">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
                <div class="response py-1 text-center" style="color: green; font-weight: bold;">@ViewBag.Emailsent</div>
            }
        </div>
        <!-- enter-code-form-wrapper -->
    </div>
    <!-- container -->
</section>
<!-- Enter Code Section ====================== -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#enterCodeForm').on('submit', function (e) {
                e.preventDefault();
                // Add any additional client-side validation or AJAX form submission logic here
                var isValid = true;
                if ($('#Code').val().trim() === '') {
                    $('#Code').addClass('is-invalid');
                    isValid = false;
                } else {
                    $('#Code').removeClass('is-invalid');
                }

                if (isValid) {
                    this.submit();
                }
            });
        });
    </script>
}
<style>
    .card_code_button {
        margin: auto;
        text-align: center;
    }

    .card_code {
        width: 45%;
        margin: auto; /* Ensure the form is centered */
    }

    .shadow-lg {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) !important;
    }
</style>
